<nav>
    <script type="text/javascript" src="/navbar.js"></script>
    <a href="index.html"><img src='../assets/icon.png' alt="ceramic plate"></a>
    
    <div class="heading-title">Dvir Shvartzbard | <span class="bold">Creative Pottery</span></div>

    <ul class="nav-tabs" id="myLinks">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/shop">Shop</a></li>
    </ul>

    <a href="javascript:void(0);" class="burgIcon" onclick="navBurControl()">
    <i class="fa fa-bars fa-2x"></i></a>
</nav>
