<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    <div class="content">
        <h2>About Me</h2>
        <p class="about-content">
            Hi!
            My name is Dvir.<br>
            Among my many hobbies,<br>
            I like creating pottery in my studio.<br>
            Recently I started thinking about selling<br>
            some of my creations.<br>
            So this website currently displays some of<br>my items.<br>
            Soon, it will also feature a web shop for<br>purchasing items online.
        </p>
        <div id="products-container"></div>
        <%- include('../partials/footer'); %>
    </div>