<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    <div class="content">
        <h2>Your cart is empty...</h2>
        <p class="about-content">
            <a href="/shop">You're welcomed to enter the shop again</a>
        </p>
        <div id="products-container"></div>
        <%- include('../partials/footer'); %>
    </div>